#https://codeload.github.com/KurimuzonAkuma/pyrogram/zip/refs/heads/dev
aiohttp==3.8.4
pyrofork==2.3.61
#pyrogram
TgCrypto
pyromod==1.5
schedule
APscheduler
# --- For-Database ------------ #
pymongo
motor
dnspython
# --- For-Web-Response ------- #
aiohttp
python-dotenv
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiofiles
asyncio

# ✅ STREAM_MODE & WEBSITE_URL_MODE এর জন্য নতুন এড করুন:
jinja2==3.1.2
validators
urllib3
httpcore
httpx
